html {
    min-height: 80%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 400px;
}

footer {
    background-color: rgba(66,4,4,1);
    position: absolute;
    width: 100%;
    height: 400px;
    color: white;
}
